:root {

}

.header {
    border-bottom: solid 2px black;
    margin-bottom: 1%;
    
}

.inputBox {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
}

.Game_tile{
   
    height: auto;
    width: auto;
    margin-top: 2%;
    margin-left: 1%;

}
.News_tile {
    
    height: auto;
    width: auto;
    bottom: 0;
    left: 0;
    margin-left: 1%;

}
.SpecialDeals_tile {
    
    width: auto;
    height: auto;
    margin-top: 1%;
    margin-left: 0.5%;
    
}
.resizable {
    resize:vertical;
    overflow: scroll;
    border: 1px solid black;
  }
  h2 {
    margin-top: auto;
    height: 700px;
    width: 1475px;
  }
