html,
body {
    background-color: rgb(45,198,249);
    background-size: cover;
    height: 60rem;
}
.header {
    border-bottom: solid 2px black;
    margin-bottom: 1%;    

}

.inputBox {
    display: flex;
    justify-content: center;
    width: -5px;
}

.Game_tile{
    width: auto;
    margin-top: 2%;
    margin-left: 1%;
}

.News_tile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    bottom: 0;
    left: 0;
    margin-left: 1%;
}

.SpecialDeals_tile {
    width: auto;
    height: auto;
    border: none;    
}

.resizable {
    /* max-height: 75%; */
    resize: vertical;
    overflow: scroll;
    border: 1px solid black;
    min-width: 200px;
    min-height: 200px;
    border: none;
    margin-left: 12px;
    max-width: 2000px;
}

/* .games {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: aqua;
    border: none; */


.is-ancestor {
    height: 100%;
}


h2 {
    /* font-family: 'Oswald', sans-serif;    */
    font-family: 'Rubik Bubbles', cursive;
    font-size: 35px;
}
  
a {
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Rubik Bubbles', cursive;
    font-size: 25px;
}

.button {
    /* font-family: 'Oswald', sans-serif; */
    background-color:rgb(189, 18, 18);
    font-size: 25px;
}
  
.title {
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Rubik Bubbles', cursive;
    font-size: 25px;
}

.gamer{
    /* font-family: 'Oswald', sans-serif;  */
    color: red;
    
}

.button.bColor {

    background-color:rgb(233, 233, 74) ;
}

.button.search {
    background-color: rgb(189, 18, 18);
    font-family: 'Rubik Bubbles', cursive;
}

.newsDiv {
    border: solid 10px rgb(233, 233, 74);
    /* align-items: flex-start; */
    width: 1500px;
    height: auto;
    display: flex;
    flex-direction: column;
    /* background-color:rgb(189, 18, 18) ; */
    background-color: white;
    font-family: 'Rubik Bubbles', cursive;
    margin-top: 2rem;
    align-content: center;
   
}

.newsDiv div {
    /* background-color: black; */
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid;
    border-radius: 10px;
}

.newsDiv:hover{
    /* transition: all 0.5s ease-out; */
    width: 1500px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    border-radius: 40px;
    font-size: 30px;
    background-color: rgb(189, 18, 18);
    /* box-shadow:
    inset 0 0 10px rgb(189, 18, 18),      
    inset 20px 0 50px grey,   
    inset -20px 0 50px white,  
    inset 20px 0 300px grey,  
    inset -20px 0 100px white,  */
}

/* .newsDiv h2 {

} */




  


