body {
    background-color: rgb(45,198,249);
    background-size: cover;
    height: 60rem;
}

.header {
    border-bottom: solid 2px black;
    margin-bottom: 1%;    
}

.inputBox {
    display: flex;
    justify-content: center;
    width: -5px;
}

.Game_tile{
    width: auto;
    margin-top: 2%;
    margin-left: 1%;
}

.News_tile {
    width: auto;
    bottom: 0;
    left: 0;
    margin-left: 1%;
}

.SpecialDeals_tile {
    width: auto;
    height: auto;
    border: none;    
}

.resizable {
    /* max-height: 75%; */
    resize: vertical;
    overflow: scroll;
    border: 1px solid black;
    min-width: 200px;
    min-height: 200px;
    border: none;
    margin-left: 12px;
    max-width: 2000px;
}

.is-ancestor {
    height: 100%;
}


h2 {
    font-family: 'Rubik Bubbles', cursive;
    font-size: 35px;
}
  
a {
    font-family: 'Rubik Bubbles', cursive;
    font-size: 25px;
}

.button {
    background-color:rgb(189, 18, 18);
    font-size: 25px;
}
  
.title {
    font-family: 'Rubik Bubbles', cursive;
    font-size: 25px;
}

.gamer{
    color: red;
    
}

.button.bColor {
    background-color:rgb(189, 18, 18) ;
}

.button.search {
    background-color: rgb(189, 18, 18);
    font-family: 'Rubik Bubbles', cursive;
}

  


